<!-- <div class="alert alert-success alert-dismissible fade in" style="opacity: 1;
position: absolute;
z-index: 999999;
float: left;
width: 94% ;" *ngIf="successsms" >
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Vessel created successfully.</strong>
</div> -->
<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade"></ngx-spinner>

<div class="row" *ngIf="adhar_error || adhar_success">
  <div class="col-md-12">
    <div class="alert alert-dismissible" [ngClass] = "{'alert-danger' : adhar_error, 'alert-success' : adhar_success}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{adharVerify.message}}</strong>
    </div>
  </div>
</div> 

<div class="row" *ngIf="rerror || rsuccess">
  <div class="col-md-12">
    <div class="alert alert-dismissible" [ngClass] = "{'alert-danger' : rerror, 'alert-success' : rsuccess}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{rationVerify.message}}</strong>
    </div>
  </div>
</div>

<div class="row" *ngIf="success || error">
    <div class="col-md-12">
      <div class="alert alert-dismissible"[ngClass] = "{'alert-danger' : error, 'alert-success' : success}" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div *ngIf="success"><strong>Crew Member added successfully</strong></div>
        <div *ngIf="error"><strong>{{registerData.message}}</strong></div>
      </div>
    </div>
  </div>
<!-- <div *ngIf="success"><strong>Crew Member added successfully</strong></div>
<div *ngIf="error"><strong>{{registerData.message}}</strong></div> -->

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible" *ngIf="delete_success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>crew member deleted successfully</strong>
      </div>
    </div>
  </div>
   


<form [formGroup]="crewUserRegisterForm" (ngSubmit) = "onClickSubmit(crewUserRegisterForm)" >
        <div class="card bg-primary text-white" style="margin-bottom: 10px;">
            <div class="card-body e-pragati-userregistration">
                Crew Member Details
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label for="power">Aadhaar Number <span class="vessel-mandatory-ind">*</span></label>
                 <input id="adharId" type="text" (keypress)="onlyNumberKey($event)" (keyup) = "getVerifyBtn('Aadhar')" maxlength="12" [ngModel]="EditCrewMember.member_aadhaar_id"  formControlName="aadhaar_number"  value="" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.aadhaar_number.errors }">
                 <div *ngIf="submitted && f.aadhaar_number.errors" class="invalid-feedback">
                <div *ngIf="f.aadhaar_number.errors.required">Aadhaar number is required</div>
                <div *ngIf="f.aadhaar_number.errors.minlength">Minimum required number is 12</div>
                
                 
                </div>
                <button *ngIf="showVerifyBtn" type="button" style="float: right;
                margin-top: 9px;
                font-size: 12px;" class="btn btn-primary" (click)="getadhar()">Verfiy</button>
                <div *ngIf = "adharVerify.success && !showVerifyBtn" style="color:green; float:right">Verfied <i class="fa fa-check-circle-o" aria-hidden="true"></i></div>

                </div>
        </div> 
        <div class="col-md-4">
            <div class="form-group">
               <label for="power">Ration card Number <!--<span class="vessel-mandatory-ind">*</span>--></label> 
             <input type="text" name="ration_card" [(ngModel)]="EditCrewMember.member_ration_card_number"  class="form-control" formControlName="ration_card" (keyup) = "getVerifyBtn('RationCard')" maxlength="15">
             <!-- <div *ngIf="submitted && f.ration_card.errors" class="invalid-feedback">
                <div *ngIf="f.ration_card.errors.required">Ration Card number is required</div>
             
               </div> -->
               <button *ngIf="rationVerifyBtn" type="button" style="float: right;
               margin-top: 9px;
               font-size: 12px;" class="btn btn-primary" (click)="getRation()">Verfiy</button>
               <div *ngIf = "rationVerify.success && !rationVerifyBtn" style="color:green; float:right">Verfied <i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
            </div>
    </div>
                <div class="col-md-4">
                        <div class="form-group">
                          <label for="power">Crew Member Name <span class="vessel-mandatory-ind">*</span></label>
                         <input  maxlength="60" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" type="text" formControlName="owner_name" [ngModel]="rationVerify.owner_name"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.owner_name.errors }">
                         <div *ngIf="submitted && f.owner_name.errors" class="invalid-feedback">
                          <div *ngIf="f.owner_name.errors.required">Crew Member name is required</div>
                      </div>
                        </div>
                </div>
                 <div class="col-md-4">
                        <div class="form-group">
                          <label for="power">Father Name <span class="vessel-mandatory-ind">*</span></label>
                         <input  maxlength="60"  onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" type="text" formControlName="father_name" [ngModel]="rationVerify.father_name"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }">
                         <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                          <div *ngIf="f.father_name.errors.required">Father name is required</div>
                        </div>
                </div>
                </div>
          
                  <div class="col-md-4">
                        <div class="form-group">
                          <label for="power">Mobile Number <span class="vessel-mandatory-ind">*</span></label>
                         <input type="text" (keypress)="onlyNumberKey($event)" pattern="\d*" maxlength="10" formControlName="mobile_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }">
                         <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                         <div *ngIf="f.mobile_number.errors.required">Mobile number is required</div>
                        <div *ngIf="f.mobile_number.errors.minlength">Minimum required number is 10</div>
                        <div *ngIf="f.mobile_number.errors.pattern">Please enter valid mobile number</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                        <label for="power">Email Id </label>
                       <input type="email" name="email_id" [ngModel]="EditCrewMember.member_email"  class="form-control" formControlName="email_id" [ngClass]="{ 'is-invalid': submitted && f.email_id.errors }">
                       <div *ngIf="submitted && f.email_id.errors" class="invalid-feedback">
                        <!-- <div *ngIf="f.email.errors.required">Email is required</div> -->
                            <div *ngIf="f.email_id.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
              </div>
                  <div class="col-md-4">
                      <div class="form-group">
                        <label for="power">Bank Account Number <span class="vessel-mandatory-ind">*</span></label>
                       <input [ngModel]="EditCrewMember.bank_account_number" type="text" (keypress)="onlyNumberKey($event)" pattern="\d*" (keyup) = "checkZeros('bank_account_number')" maxlength = "8" maxlength="20" formControlName="bank_account_number" class="form-control" [ngClass]="{ 'is-invalid': (submitted && f.bank_account_number.errors) || bank_act_chk }">
                       <div *ngIf="submitted && f.bank_account_number.errors" class="invalid-feedback">
                       <div *ngIf="f.bank_account_number.errors.required">Bank Account number is required</div>
                      <div *ngIf="f.bank_account_number.errors.minlength">Bank Account number should have 8 to 20 digits</div>
                      </div>
                      <div *ngIf="crewUserRegisterForm.value.bank_account_number && crewUserRegisterForm.value.bank_account_number.length > 0 && bank_act_chk" class="invalid-feedback" style="display: block !important">Bank Account number should not have all zero's</div>
                  </div>
                </div>
             
              

                 <div class="col-md-4">
                        <div class="form-group">
                          <label for="power">IFSC Code  <span class="vessel-mandatory-ind">*</span></label>
                         <input [ngModel]="EditCrewMember.bank_ifsc" type="text" name="ifsc_code" onkeypress = "return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode > 47 && event.charCode <  58)" minlength = "8" maxlength="12" (keyup)="checkZeros('ifsc_code')" formControlName="ifsc_code" class="form-control" [ngClass]="{ 'is-invalid': (submitted && f.ifsc_code.errors) || ifsc_chk }">
                         <div *ngIf="submitted && f.ifsc_code.errors" class="invalid-feedback">
                            <div *ngIf="f.ifsc_code.errors.required">IFSC Code is required</div>
                            <div *ngIf="f.ifsc_code.errors.minlength">IFSC code should have 8 to 12 digits</div>
                           </div>
                           <div *ngIf="crewUserRegisterForm.value.ifsc_code && crewUserRegisterForm.value.ifsc_code.length > 0 && ifsc_chk" class="invalid-feedback" style="display: block !important">IFSC code should not have all zero's</div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                          <label for="power">Bank Name <span class="vessel-mandatory-ind">*</span></label>
                         <!-- <input type="text" name="bank_name" formControlName="bank_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bank_name.errors }"> -->
                         <select [ngModel]="EditCrewMember.bank_name" class="form-control" formControlName="bank_name"    name="bank" [ngClass]="{ 'is-invalid': submitted && f.bank_name.errors }">
                          <option [ngValue]="undefined" hidden selected> --Select-- </option>
                          <option *ngFor='let bank of bankList' [ngValue]='bank.value'>
                            {{bank.value}}
                          </option>
                          <option value="others">Others</option>
                        </select>
                        <div *ngIf="f.bank_name.value == 'others'" style="margin-top: 2%;">
                            <input type="text" class="form-control" formControlName="bank_others_name" (keyup) = "checkZeros('bank_others_name')" [ngClass]="{ 'is-invalid': (submitted && (f.bank_name.value == 'others' && f.bank_others_name.errors)) || bank_others_chk }"/>
                        </div>
                        <div *ngIf="submitted && f.bank_name.errors" class="invalid-feedback">
                          <div *ngIf="f.bank_name.errors.required">Bank Name is required</div>
                         </div>
                         <div *ngIf="submitted && f.bank_name.value == 'others' && f.bank_others_name.errors != null && f.bank_others_name.errors.required" class="invalid-feedback" style="display: block">
                          <div>Bank Name is required</div>
                         </div>
                         <div *ngIf="f.bank_name.value == 'others' && crewUserRegisterForm.value.bank_others_name && crewUserRegisterForm.value.bank_others_name.length > 0 && bank_others_chk" class="invalid-feedback" style="display: block !important">Bank name should not have all zero's</div>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="power" style="display: block; margin-bottom: 0px;">Date Of Birth</label>
                     <!-- <input  type="date"  placeholder="select date" formControlName="licence_renewal_date" value="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.licence_renewal_date.errors }"> -->
                     <mat-form-field>
                      <input matInput [matDatepicker]="picker1" [max]="minDate"   placeholder="Selct date" formControlName="date_of_birth" [ngModel]="rationVerify.date_of_birth">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 > </mat-datepicker>
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Gender<span class="vessel-mandatory-ind">*</span></label>
                      <select class="form-control" formControlName="gender" name="gender" placeholder="Select" [(ngModel)]="rationVerify.gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option [ngValue]="undefined" hidden selected> --Select-- </option>
                        <option value="Male">  Male </option>
                        <option value="Female"> Female </option>          
                     </select>
                     <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Gender is required</div>
                     </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Social Status</label>
                      <select class="form-control" formControlName="social_status" name="social_status">
                        <!-- <option [ngValue]="undefined" hidden selected> --Select-- </option> -->
                        <option value="undefined">--Select--</option>
                        <option value="OC"> OC </option>
                        <option value="BC"> BC </option>
                        <option value="SC"> SC </option>   
                        <option value="SC"> ST </option>            
                     </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Employment Status</label>
                      <select class="form-control" formControlName="employment_status" name="employment_status" placeholder="Select">
                            <!-- <option value="undefined" hidden selected> --Select-- </option> -->
                            <option value="undefined">--Select--</option>
                            <option value="Employed"> Employed </option>
                            <option value="UnEmployed"> UnEmployed </option>          
                     </select>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Age </label>
                     <input type="text"  (keypress)="onlyNumberKey($event)" minlength="2" maxlength="2" pattern="\d*" (keyup) = "checkZeros('age')" formControlName="age" class="form-control" [ngModel]="rationVerify.age" [ngClass]="{'is-invalid' : age_chk}">
                     <div *ngIf="crewUserRegisterForm.value.age && crewUserRegisterForm.value.age.length > 0 && age_chk" class="invalid-feedback" style="display: block !important">Age should not have all zero's</div>
                </div>
                </div>
        </div>
    

        <div class="row">
                <div class="col-md-12 ">
                    <input type="submit" class="btn btn-info pull-right " style="margin-bottom: 10px;"  value="Add" >

              </div>
        </div> 

</form>
<div style="float: left; width: 100%; overflow: auto;">
  <table class="table" border="0">  
          <thead class="">  
            <tr> 
              <th>ID</th> 
              <th>Aadhaar Number</th>  
              <th>Ration Card </th>  
              <th>Crew Member Name</th>  
              <th>Father Name</th>  
              <th>Mobile Number</th> 
              <th>Bank Account Number</th>  
              <th>Actions</th>
             
            </tr>  
          </thead>  
          <tbody>  
            <tr *ngFor = "let crewMember of crewMemberList | paginate: { itemsPerPage: 6, currentPage: p}">  
              <td >{{crewMember.id}}</td>
              <td>{{crewMember.member_aadhaar_id}}</td>  
              <td>{{crewMember.member_ration_card_number}}</td>  
              <td>{{crewMember.member_name}}</td>  
              <td>{{crewMember.memner_father_name}}</td> 
              <td>{{crewMember.member_mobile_number}}</td>  
              <td>{{crewMember.bank_account_number}}</td> 
              <td>
                  <span (click)="editCrewUser(crewMember, index)" style="padding-right: 10px;"> 
                      <i class="fa fa-pencil-square-o " aria-hidden="true" style="color: #39c4f0; cursor: pointer;" ></i>
                    </span>
                <span (click)="crewUserData(crewMember)" data-toggle="modal" data-target="#myModal"> 
                  <i class="fa fa-trash-o " aria-hidden="true" style="color: #39c4f0; cursor: pointer;" ></i>
                </span>
              </td>
            </tr>  
          </tbody>
        </table>  
        <ul class="pagination" *ngIf="waterBodyPagination">  
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>  
          </ul>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Crew User Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
              </div>
              <div class="modal-body">
                Are you sure you want to delete the crew member?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteCrewUser()">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
        
          </div>
        </div>
