
.e-prgati-header-main
{
    background-color: #5D5B8D !important;
    height: 60px;
    /* margin-bottom: 20px; */

}
.e-prgati-header-logo img
{
    height: 44px;
    width: 120px;
}
.e-prgati-header-department-logo img
{
    height: 50px;
    width: 50px;
}
.e-pragati-left-menu
{
    float: left;
    width: 100%;
    background-color: #6A67A0;
    color: #fff;
    height: 100%;
}
.e-pragati-left-menu ul
{
padding-left: 0px;
margin-bottom: 0px !important;
}
.e-pragati-left-menu ul li
{
    list-style: none;
    text-align: left;
}
.e-pragati-left-menu ul li a
{
    color: #fff ;
}
.e-pragati-left-submenu
{
    float: left;
    width: 100%;
    padding-left: 0px !important;
    height: 100%;
}
.e-pragati-left-submenu li 
{
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
}
.e-pragati-registration
{
    float: left;
    width:100%;
    background: #fff;
    padding: 15px;
    border: 1px solid #39c4f0;
    border-radius: 4px;
    margin-top: 20px;
}
.pull-right
{
    float: right!important;
}
.e-prgati-register-sendotp
{
    padding-left: 0px;
}
.perm_to_use
{
    margin-right: 5px;
    margin-left: 10px;
}
.please-select-options
{
    font-size: 12px;
}
.e-pragati-userregistration
{
    padding: 0.50rem;
   
}
.e-prgati-reports-search
{
    margin-top: 30px;
}
.table thead th
{
font-size: 12px;
}
.vessel-mandatory-ind{
    color:red; font-weight:700;
}
input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
  }