<form>
    <div class="card bg-primary text-white" style="margin-bottom: 10px;">
        <div class="card-body e-pragati-userregistration">
        Beneficary Management
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                  <label for="power">Nature of the Scheme</label>
                  <select class="form-control">
                    <option>
                     
                    </option>
                  </select>
            </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                      <label for="power">Scheme-HoA</label>
                      <select class="form-control">
                        <option>
                         
                        </option>
                      </select>
                </div>
            </div>

            <div class="col-md-4">
                    <div class="form-group">
                          <label for="power">Scheme Fund</label>
                          <input type="text" class="form-control">
                    </div>
            </div>
    </div>
    <div class="card bg-primary text-white" style="margin-bottom: 10px;">
        <div class="card-body e-pragati-userregistration">
            Component Management

        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                      <label for="power">Type of component</label>
                      <select class="form-control">
                        <option>
                         
                        </option>
                      </select>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                          <label for="power">Scheme Component</label>
                          <select class="form-control">
                            <option>
                             
                            </option>
                          </select>
                    </div>
                </div>
    
                <div class="col-md-4">
                        <div class="form-group">
                              <label for="power">Applicable Sector</label>
                              <select class="form-control">
                                <option>
                                 
                                </option>
                              </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                            <div class="form-group">
                                  <label for="power">Public</label>
                                  <select class="form-control">
                                    <option>
                                     
                                    </option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group">
                                      <label for="power">Reservations</label>
                                      <select class="form-control">
                                        <option>
                                         
                                        </option>
                                      </select>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">Gender</label>
                                          <select class="form-control">
                                            <option>
                                             
                                            </option>
                                          </select>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">Fixed Unit Price</label>
                                          <select class="form-control">
                                            <option>
                                             
                                            </option>
                                          </select>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">Unit Price</label>
                                          <input type="text" class="form-control">
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">% of subsidy</label>
                                          <input type="text" class="form-control">
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">Subsidy - unit price</label>
                                          <input type="text" class="form-control">
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">Units allocated</label>
                                          <input type="text" class="form-control">
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                          <label for="power">Comp - Allocated Budget</label>
                                          <input type="text" class="form-control">
                                    </div>
                            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pull-right">
                    <button type="submit" class="btn btn-info pull-right">Add</button>

            </div>
        </div>
</form>