<div class="container" style=" margin: 40px auto;">
  <div class="row">
    <div class="col-md-12 my-app-logo">
        <img src="../assets/images/myap_logo.png" alt="My-App">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="">
            
            <div class="myapp-fogotpassword">
             <div class="row">
               <div class="col-md-12 myapp-forgotpasswordcontent">
                 <h3> Forgot Password ?</h3>
               </div>
             </div>
             <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="pwd" class="my-app-select-register-option-head">Enter Your Registered Email or Phone*</label>
                      <input type="Text" value=""  id=""   name="myInput"   placeholder="Enter Email or Phone Number" class="form-control my-app-select-register-option"  >
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pull-right">
                <button class="btn btn-primary" style="margin-right: 10px;">Cancel</button>
                <button class="btn btn-primary">Send OTP</button>

              </div>
            </div>
            </div> 
          </div>
      </div>
      <div class="col-md-3">
        </div>
  </div>


  </div>
