<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade"></ngx-spinner>
<div class="row">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible" *ngIf="success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{societyList.message}}</strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissible" *ngIf="error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{societyList.message}}</strong>
        <!-- <ul *ngFor = "let registerdata of registerData.message">
         {{registerdata}}
         
        </ul> -->
  
     
      </div>
    </div>
  </div>  
<!-- <form> -->
    <div class="card bg-primary text-white" style="margin-bottom: 10px;">
        <div class="card-body e-pragati-userregistration">Inland Society Registration Data
            <a class="nav-link p-1 pull-right btn btn-default" (click)="addnewInlandSociety()" style="background: #ffff;
            color: #39c4f0; cursor: pointer">
                Add New Inland Society
            </a>
          </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
              <label for="power">District</label>
              <select class="form-control"  [(ngModel)]="distId" (ngModelChange)="getMandal()">
                <option *ngFor='let dist of Dist' [ngValue]='dist.id'>
                {{ dist.district_name}}
                </option>
                
              </select>
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                <label for="power">Mandal</label>
                <select class="form-control" [(ngModel)]="mandalId" (ngModelChange)='getPanchayats()' name="mandal" >
               
                  <option *ngFor='let mandal of Mandals' [ngValue]='mandal.id'>
                  {{ mandal.mandal_name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="power">Grama Panchayat</label>
                 
                  <select class="form-control"  [(ngModel)]="gramalId"  name="panchayat" >
               
                    <option *ngFor='let Panchayat of Panchayats' [ngValue]='Panchayat.id'>
                    {{ Panchayat.panchayat_name}}
                    </option>
                  </select>

                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="power">Village</label>
                    <select class="form-control"  [(ngModel)]="villageId"  name="village">
               
                      <option *ngFor='let village of Village' [ngValue]='village.id'>
                      {{ village.village_name}}
                      </option>
                    </select>


                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="power">Waterbody</label>
                    <select class="form-control"  [(ngModel)]="waterbodyId"  name="waterbody" >
               
                      <option *ngFor='let waterbody of Waterbody' [ngValue]='waterbody.id'>
                      {{ waterbody.water_body_name}}
                      </option>
                    </select>
                  </div>
                </div>
          
      </div>
      <div class="col-md-12 ">
        <input type="submit" class="btn btn-info pull-right" style="margin-bottom: 10px;"  value="Search" >
       
  </div>

<!-- </form> -->
<div style="float: left; width: 100%; overflow: auto;">
<table class="table" border="0">  
<thead class="">  
  <tr> 
    <th>ID</th> 
    <th>District</th>  
    <th>Mandal </th>  
    <th>FLC name</th>  
    <th>Vessel owner</th>  
    <th>Vessel number</th>  
    <th>Status</th> 
    <th>Boat type</th>  
    <th>License renewal date</th>
    <th>License valid upto</th>
    <th>Adhar number</th> 
    <th>Mobile number</th>
    <th>Bank account</th>   
    <th>Ration card number</th>
  
    <th>Action</th>
  </tr>  
</thead>  
<tbody>  
<tr *ngFor = "let inlandSociety of inlandSocietyList | paginate: { itemsPerPage: 6, currentPage: p}">  
  <td >{{inlandSociety.id}}</td>
            <td>{{inlandSociety.district_name}}</td>  
            <td>{{inlandSociety.mandal_name}}</td>  
            <td>{{inlandSociety.flc_name}}</td>  
            <td>{{inlandSociety.vessel_owner_name}}</td> 
            <td>{{inlandSociety.vessel_number}}</td>  
            <td>{{inlandSociety.status}}</td> 
            <td>{{inlandSociety.boat_type}}</td> 
            <td>{{inlandSociety.license_renewal_date}}</td>  
            <td>{{inlandSociety.license_valid_upto}}</td> 
            <td>{{inlandSociety.aadhaar_no}}</td>  
            <td>{{inlandSociety.mobile_number}}</td> 
            <td>{{inlandSociety.bank_account_number}}</td> 
            <td>{{inlandSociety.ration_card_number}}</td> 
  <td>
    <span style="padding-right: 10px;" >
       <i class="fa fa-pencil-square-o" (click)="edidInlandSociety(WaterbodyList)" aria-hidden="true" style="color: #39c4f0; cursor: pointer;"></i>
    </span> 
       
   <span (click)="inlandSocietyData(WaterbodyList)" data-toggle="modal" data-target="#myModal"> 
     <i class="fa fa-trash-o " aria-hidden="true" style="color: #39c4f0; cursor: pointer;" ></i>
   </span>
     </td> 

</tr>  
</tbody>  

</table>  
</div>
<ul class="pagination" *ngIf="waterBodyPagination">  
<pagination-controls (pageChange)="p = $event"></pagination-controls>  

</ul>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
      </div>
      <div class="modal-body">
        Are you Sure You want to delete the vessel?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteInlandSociety()">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

