<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade"></ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success alert-dismissible" *ngIf="delete_success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{deleteSociety.message}}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger alert-dismissible" *ngIf="delete_error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <!-- This was my preferred answer, but keep in mind, if the value of scrollTop doesn't change in the component, you won't see anything happen.  -->
      <strong>{{deleteSociety.message}}</strong>
    </div>
  </div>
</div> 
<div class="card bg-primary text-white" style="margin-bottom: 10px;">
        <div class="card-body e-pragati-userregistration">
            Society Registration Data
            
            <a class="nav-link p-1 pull-right btn btn-default" (click)="addnewSociety()" style="background: #ffff;
            color: #39c4f0; cursor: pointer">
                Add New Society
            </a>
        </div>
    </div>
    <form>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="power">District<span class="vessel-mandatory-ind">*</span></label>
          <select  class="form-control"  [(ngModel)]="distId" (change)="getMandal()" name="dist">
            <!-- <option value="" disabled="true" [selected]="!distId">--please select--</option> -->
            <option [ngValue]="undefined" hidden selected> --Select-- </option>

            <option *ngFor='let dist of Dist' [ngValue]='dist.id'>
            {{ dist.district_name}}
            </option>
          </select>
          <div *ngIf="distman" style="color: red;">
              District is mandatory
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="power">Mandal</label>
          <select class="form-control" [(ngModel)]="mandalId" (change)='getFlc()'   name="mandal">
            <option [ngValue]="undefined" hidden selected> --Select-- </option>
            <option [ngValue]="undefined">--Select--</option>
            <option *ngFor='let mandal of Mandals' [ngValue]='mandal.id'>
            {{ mandal.mandal_name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
            <div class="form-group">
              <label for="power">Fish Landing Centre </label>
              <select class="form-control" [(ngModel)]="flcid"      name="flc">
                <option [ngValue]="undefined" hidden selected> --Select-- </option>
                <option [ngValue]="undefined">--Select--</option>
                <option *ngFor='let flc of Flcs' [ngValue]='flc.id'>
                {{ flc.flc_name}}
                </option>
              </select>
            </div>
          </div>
    </div>
    <div class="col-md-12 ">
      <input   type="button" class="btn btn-info pull-right " style="margin-bottom: 10px;"  value="Search" (click)="getSocietyDetails()">
     
</div>
</form>
<div style="float: left; width: 100%; overflow: auto;">
        <table class="table" border="0">  
                <thead>  
                  <tr style="background-color: #f2f2f2"> 
                    <th>ID</th> 
                    <th>District</th>  
                    <th>Mandal </th>  
                    <th>FLC name</th>  
                    <th>Society Name</th>  
                    <th>SOCIETY Reg. Number</th> 
                    <th>NCDC reg</th>  
                    <th>Actions</th>
                   
                  </tr>  
                </thead> 
                <tbody> 
                    <tr *ngIf="nodatafound">
                        <td style="font-weight: bold;
                        width: 122px;
                        float: left; color: red;">No Data Found</td>
                      </tr>
                  <!-- <div style="margin-top: 11%; color: green; text-align: center;" 
                      *ngIf="SocietyList && SocietyList.length == 0">No Results Found</div>  -->
                  <tr *ngFor = "let societyList of SocietyList | paginate: { itemsPerPage: 6, currentPage: p}">  
                    <td >{{societyList.id}}</td>
                    <td>{{societyList.district_name}}</td>  
                    <td>{{societyList.mandal_name}}</td>  
                    <td>{{societyList.flc_id}}</td>  
                    <td>{{societyList.society_name}}</td> 
                    <td>{{societyList.society_reg_no}}</td>  
                    <td>{{societyList.ncdc}}</td> 
                   
                
                    <td>
                  
        
                  <button (click)="addMember(societyList)" class="button btn btn-primary" >Add society member</button>

                  <span (click)="vesselData(societyList, index)" style="margin-left: 15px;"> 
                        <i class="fa fa-trash-o " aria-hidden="true" style="color: #39c4f0; cursor: pointer;" ></i>
                      </span>
        
                    </td>  
                  
              
                  </tr>  
                </tbody>  
                
              </table>  
              <ul class="pagination" *ngIf="waterBodyPagination">  
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>  
                
                </ul>
              </div>
        