<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade"></ngx-spinner>
<!-- {{addSocietMember1.message[0].id}} -->

<div class="row" *ngIf="delete_success || delete_error">
  <div class="col-md-12">
    <div class="alert alert-dismissible" [ngClass] = "{'alert-danger' : delete_error, 'alert-success' : delete_success}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{deleteData.message}}</strong>
    </div>
  </div>
</div>

<div class="row" *ngIf="adhar_error || adhar_success">
  <div class="col-md-12">
    <div class="alert alert-dismissible" [ngClass] = "{'alert-danger' : adhar_error, 'alert-success' : adhar_success}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{adharVerify.message}}</strong>
    </div>
  </div>
</div>
              
<div class="row" *ngIf="success1 || error1">
  <div class="col-md-12">
    <div class="alert alert-dismissible" [ngClass] = "{'alert-danger': error1, 'alert-success': success1}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{rationVerify.message}}</strong>
    </div>
  </div>
</div>
<div class="row" *ngIf="success || error"> 
  <div class="col-md-12">
    <div class="alert alert-dismissible" [ngClass] = "{'alert-danger': error, 'alert-success': success}">
      <strong>{{addsocietyMember.message}}</strong>
    </div>
  </div>
</div>
<form [formGroup]="societyMembersForm" (ngSubmit) = "onSubmit(societyMembersForm)">
    <div class="card bg-primary text-white" style="margin-bottom: 10px;">
            <div class="card-body e-pragati-userregistration">
                    Society members
            </div>
      </div>
             <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                              <label for="power">Aadhaar Number <span class="vessel-mandatory-ind">*</span></label>
                             <input id="adharId" type="text" (keypress)="onlyNumberKey($event)" (keyup) = "getVerifyBtn('Aadhar')" maxlength="12"  formControlName="aadhaar_number"  value="" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.aadhaar_number.errors }">
                             <div *ngIf="submitted && f.aadhaar_number.errors" class="invalid-feedback">
                            <div *ngIf="f.aadhaar_number.errors.required">Aadhaar number is required</div>
                            <div *ngIf="f.aadhaar_number.errors.minlength">Minimum required number is 12</div>
                             
                            </div>
                            <button *ngIf="showVerifyBtn" type="button" style="float: right;
                            margin-top: 9px;
                            font-size: 12px;" class="btn btn-primary" (click)="getadhar()">Verfiy</button>
                            <div *ngIf = "adharVerify.success && !showVerifyBtn" style="color:green; float:right">Verfied <i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
            
                            </div>
                    </div> 
                    <div class="col-md-4">
                                <div class="form-group">
                                   <label for="power">Ration Card Number </label> 
                                   <input type="text" name="ration_card" formControlName="ration_card" class="form-control" (keyup) = "getVerifyBtn('RationCard')" maxlength="15" [ngClass]="{ 'is-invalid': submitted && f.ration_card.errors }" >
                                   <button *ngIf="rationVerifyBtn" type="button" style="float: right;
               margin-top: 9px;
               font-size: 12px;" class="btn btn-primary" (click)="getRation()">Verfiy</button>
               <div *ngIf = "rationVerify.success && !rationVerifyBtn" style="color:green; float:right">Verfied <i class="fa fa-check-circle-o" aria-hidden="true"></i></div>

                                </div>
                        </div>
                    <div class="col-md-4">
                            <div class="form-group">
                              <label for="power">Name <span class="vessel-mandatory-ind">*</span></label>
                             <input type="text"   formControlName="member_name"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.member_name.errors }" [ngModel]="rationVerify.owner_name">
                             <div *ngIf="submitted && f.member_name.errors" class="invalid-feedback">
                              <div *ngIf="f.member_name.errors.required">Name is required</div>
                          </div>
                            </div>
                    </div>  
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="power">Mobile Number <span class="vessel-mandatory-ind">*</span></label>
                         <input type="text" (keypress)="onlyNumberKey($event)" pattern="\d*" maxlength="10" formControlName="mobile_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }">
                         <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                         <div *ngIf="f.mobile_number.errors.required">Mobile number is required</div>
                        <div *ngIf="f.mobile_number.errors.minlength">Minimum required number is 10</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power" style="display: block; margin-bottom: 0px;">Date Of Birth</label>
                     <!-- <input  type="date"  placeholder="select date" formControlName="licence_renewal_date" value="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.licence_renewal_date.errors }"> -->
                     <mat-form-field>
                      <input matInput [matDatepicker]="picker1"   placeholder="Selct date" formControlName="date_of_birth" [(ngModel)]="rationVerify.date_of_birth">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 > </mat-datepicker>
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Gender<span class="vessel-mandatory-ind">*</span></label>
                      <select class="form-control" formControlName="gender" name="gender" placeholder="Select" [(ngModel)]="rationVerify.gender" (change)="genderSelection(societyMembersForm.value.gender)"  [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }">
                        <option [ngValue]="undefined" hidden selected> --Select-- </option>
                        <option value="Male">  Male </option>
                        <option value="Female"> Female </option>          
                     </select>
                     <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Gender is required</div>
                     </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Social Status</label>
                      <select class="form-control" formControlName="social_status" name="social_status" [(ngModel)]="rationVerify.social_status">
                        <option [ngValue]="undefined" hidden selected> --Select-- </option>
                        <option value="OC"> OC </option>
                        <option value="BC"> BC </option>
                        <option value="SC"> SC </option>   
                        <option value="SC"> ST </option>            
                     </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Employment Status</label>
                      <select class="form-control" formControlName="employment_status" name="employment_status" [(ngModel)]="rationVerify.employment_status">
                        <option [ngValue]="undefined" hidden selected> --Select-- </option>
                            <option value="Employed"> Employed </option>
                            <option value="UnEmployed"> UnEmployed </option>          
                     </select>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="power">Age </label>
                     <input type="text" (keypress)="onlyNumberKey($event)" pattern="\d*" formControlName="age" class="form-control" [(ngModel)]="rationVerify.age">
                </div>
                </div>
                        <div class="col-md-4" *ngIf="verifyGenderMale" style="margin-top: 2%;">
                                <div class="form-group">
                                        <label for="power">Fishermen Skills <span class="vessel-mandatory-ind">*</span></label><br>
                                        <input #Swimming type="checkbox" name="Swimming"   formControlName="Swimming"> Swimming
                                        <!-- [checked]="true" value="true"  disabled -->
                                         <input #netting type="checkbox" name="Netting"  formControlName="netting" (click)="toggleChk()"> Netting
                                        <input #NetSewing type="checkbox" name="NetSewing"  formControlName="NetSewing" (click)="toggleChk()"> Net Sewing
                                        <div *ngIf="submitted && fishermanChk" class="invalid-feedback" style="display: block">
                                                        <div>Fishermen Skills is required</div>
                                                        </div>	
                                                      
                                </div>
                        </div>
                        <div class="col-md-4" *ngIf="verifyGenderFemale" style="margin-top: 2%;">
                          <div class="form-group">
                              <label for="power">FisherWomen Skills</label><br>
                              <input #fishVendor type="checkbox" name="fish_vendor"   formControlName="fish_vendor"> Fish Vendor             
                          </div>
                        </div>
                      </div>
            <div class="row" style="margin-top: 2%;">
              <div class="col-md-4">
                <div class="form-group">
                  <input #isPresident type="checkbox" name="is_president" formControlName="is_president"> Is President         
                </div>
              </div>
            </div>
            <div>
              <input type="submit" class="btn btn-info pull-right " style="margin-bottom: 10px;"  value="ADD" >
            
            </div>
        </form>

    <table class="table table-striped" style="width:100%;font-size: 13px;" >
           
        <tbody>
           
                   
                        <tr style="font-size: 12px;">
                                <th scope="col"> #No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Aadhaar No</th>
                                
                                <th scope="col">Ration Card</th>
                                <th scope="col">Mobile Number</th>
                                <th>
                                 Fishermen Skills
                                </th>
                                <th scope="col">Actions</th>
                              </tr>
                    <tr *ngFor = "let addSocietmember1 of addSocietMember1.message | paginate: { itemsPerPage: 6, currentPage: p}">
                        <td> 
                       {{addSocietmember1.id}} 
                        </td>
                        <td> 
                      {{addSocietmember1.member_name}} 
                    </td>
                        <td> 
                       {{addSocietmember1.member_aadhaar_no}}  
                        </td>
                        <td> 
                        {{addSocietmember1.member_ration_card_no}} 
                        </td>
                       <td> 
                        {{addSocietmember1.member_mobile_no}} 
                       </td>
                       <td>
                         <div *ngIf="addSocietmember1.gender == 'Male'">
                               <label><b>Swimming</b> : true</label>
                               <br>
                               <label><b>Netting </b> : {{addSocietmember1.netting ? 'Yes' : 'No'}}</label>
                               <br>
                               <label><b>Net Sewing</b> : {{addSocietmember1.net_sweing ? 'Yes' : 'No'}}</label>
                              </div>
                              <div *ngIf="addSocietmember1.gender == 'Female'">
                                <label><b>Fish Vendor</b> : {{addSocietmember1.fish_vendor ? 'Yes' : 'No'}}</label>
                                </div>
                                 
                        </td>
                        

<td>
    <span (click) = "editSmember(addSocietmember1)" style="padding-right: 10px;"> 
        <i class="fa fa-pencil-square-o " aria-hidden="true" style="color: #39c4f0; cursor: pointer;" ></i>
        </span>
<span (click) = "deleteSmember(addSocietmember1, index)" style="padding-right: 10px;"> 
<i class="fa fa-trash-o " aria-hidden="true" style="color: #39c4f0; cursor: pointer;" ></i>
</span>
<span *ngIf="addSocietmember1.is_president" style="color:green">President</span>
</td>
</tr>
                   
           
        </tbody>
    </table>
    <ul class="pagination" *ngIf="waterBodyPagination">  
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>  
              
</ul>

